body{
    background-color: cornflowerblue;
    margin: 0;
    font-family: "Raleway",sans-serif;
    
}

.card{
    border-radius: 16px;
    border: 5px solid rgb(101, 24, 126);
    width: 26%;
    margin-left: 30%;
    text-align: center;
    background-color: lightcyan;
}

#ouvrir{
    width: 0px;
    height: 0px;
}

.imageSize{
    width: 30px;
    height: 30px;
}



/*-----------preset*/

*:focus{
    outline: none;
}
html {
    background: black!important;
}
body {
    margin: 0;
    font-family: "Raleway",sans-serif;
}
h1 {
    margin: 0;
    font-size: 33px;
    color: #fff;
    padding: 0 10%;
}
h3 {
    margin: 0;
    font-size: 17px;
    font-weight: 500;
    color: #ccc;
    padding: 0 10%;
}
.container {
    display: block;
    width: 100%;
    height: 750px;
    margin: auto;
    overflow: hidden;
    background-image: url("./images/background.jpg");
    background-repeat: repeat;
    background-size: cover;
}
.music-player {
    display: block;
    position: relative;
    width: 400px;
    height: 570px;
    margin: auto;
    margin-top: 6%;
    border-radius: 0 0 10px 10px;
    background: transparent linear-gradient(to bottom,rgba(10,11,31,0.9) 50%,rgb(10,11,31) 70%) repeat scroll 0 0;
    box-shadow: 1px 10px 20px 5px #222;
}




p{
    color : whitesmoke;
}

#lesControles{
    text-align: center;
    position: relative;
    top: 28%;
    right: 4%;
}
#lesControlesutton ,button{
    
    background-color: #13192C;
    border-color: #13192C;
    
}

#settings{
    text-align: center;
    position: relative;
    TOP: 26%;
}

.thumb{
    color: #f2f2f2;
}


html {
    background: #f2f2f2;
}

#title{
    text-align: center;
    position: relative;
    TOP: 16%;
}

#titleListening{
    text-align: center;
}

.center{
    text-align: center!important;
}
.white{
    color: white!important;
}

.inline{
    display: inline-block;
}
.left{
    float: left!important;
}
.w100{
    width: 100%!important;
}
.w10{
    width: 10%!important;
}

.w60{
    width: 60%!important;
}

#btnPlay{
    visibility: visible;
    position: relative;
    LEFT: 12%;
}

.txtcenter{
    text-align: center!important;
}

#linkPortfolio{
    position: relative;
    bottom: 6px;
}
